* {
  outline: 1px solid red;
}

.container{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 365px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.video{
    display: flex;
    max-width: 335px;
    width: 100%;
    height: 500px;
    background-image:url("../chocolate/images/play.svg"), url("../chocolate/images/poster.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    position: relative;
    border-radius: 15px;
}

.video:hover{
    cursor: pointer;
}
/* .youtube-video{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */