* {
  outline: 1px solid red;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}
.container {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 365px;
  padding-left: 15px;
  padding-right: 15px;
  flex-wrap: wrap;
}
.video {
  display: flex;
  max-width: 335px;
  width: 100%;
  height: 500px;
  background-image: url("../images/play.svg"), url("../images/poster.jpg");
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  margin-bottom: 20px;
}

.video:hover {
  cursor: pointer;
}
.how-its-made-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 32px;
}

.how-its-made-title-span {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fd9222;
}

.how-its-made-article {
  display: flex;
  flex-wrap: wrap;
  max-width: 335px;
  width: 100%;
  height: 100%;
  max-height: 500px;
  border-radius: 15px;
  background-color: #fff;
  padding: 20px 14px 20px 14px;
}

.how-its-made-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111111;
  margin: 0;
}
.how-its-made-item {
  color: #4c4c4c;
}
.how-its-made-item:not(:last-child) {
  margin-bottom: 18px;
}
.how-its-made-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}
.how-its-made-list {
  padding: 0;
  padding-left: 16px;
  margin-bottom: 0;
}
